<div class="bg-slate-900 min-h-screen w-64 px-5 py-6 flex flex-col shadow-2xl border-r border-slate-800">

  <!-- Logo -->
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold text-emerald-400 tracking-wider">
      EvaPet
    </h1>

    <span class="mt-4 inline-block px-4 py-1 rounded-full bg-emerald-500/20 border border-emerald-500 text-emerald-300 text-sm font-semibold">
      {{ role() }}
    </span>
  </div>

  <nav class="flex-1">

    <ul class="space-y-2">

      @if (isPatient() || isAdmin()) {

      <li>
        <button
          mat-button
          [matMenuTriggerFor]="petsMenu"
          class="w-full flex! justify-start! text-start items-center! rounded-xl py-3! px-4! text-slate-300 hover:bg-slate-800! hover:text-white!">

          <span>Mascotas</span>

          <mat-icon>expand_more</mat-icon>

        </button>

        <mat-menu #petsMenu="matMenu">
          <button mat-menu-item [routerLink]="['/layout/pets/eva']">
            Eva
          </button>

          <button mat-menu-item [routerLink]="['/layout/pets/reporte']">
            Reportes
          </button>
        </mat-menu>

      </li>

      }

      @if (isAdmin()) {

      <li>

        <button
          mat-button
          [matMenuTriggerFor]="rolesMenu"
          class="w-full flex! justify-start! text-start items-center! rounded-xl py-3! px-4! text-slate-300 hover:bg-slate-800! hover:text-white!">

          <span>Roles</span>

          <mat-icon>expand_more</mat-icon>

        </button>

        <mat-menu #rolesMenu="matMenu">

          <button mat-menu-item [routerLink]="['/layout/rol']">
            Listado
          </button>

        </mat-menu>

      </li>

      }

      @if (isAdmin()) {

      <li>

        <button
          mat-button
          [matMenuTriggerFor]="usersMenu"
          class="w-full flex! justify-start! text-start items-center! rounded-xl py-3! px-4! text-slate-300 hover:bg-slate-800! hover:text-white!">

          <span>Usuarios</span>

          <mat-icon>expand_more</mat-icon>

        </button>

        <mat-menu #usersMenu="matMenu">

          <button mat-menu-item [routerLink]="['/layout/users/list']">
            Lista
          </button>

          <button mat-menu-item [routerLink]="['/layout/users/report']">
            Reportes
          </button>

        </mat-menu>

      </li>

      }

      @if (isAdmin()) {

      <li>

        <a
          [routerLink]="['/layout/hospitals']"
          routerLinkActive="bg-blue-600 text-white"
          class="flex items-center rounded-xl px-4 py-3 text-slate-300 hover:bg-slate-800 hover:text-white transition">

          Hospitales

        </a>

      </li>

      }

      @if (isAdmin() || isDoctor()) {

      <li>

        <a
          [routerLink]="['/layout/medical-history']"
          routerLinkActive="bg-blue-600 text-white"
          class="flex items-center rounded-xl px-4 py-3 text-slate-300 hover:bg-slate-800 hover:text-white transition">

          Historiales médicos

        </a>

      </li>

      }

      @if (isAdmin()) {

      <li>

        <button
          mat-button
          [matMenuTriggerFor]="alertsMenu"
          class="w-full flex! justify-start! text-start items-center! rounded-xl py-3! px-4! text-slate-300 hover:bg-slate-800! hover:text-white!">

          <span>Alertas</span>

          <mat-icon>expand_more</mat-icon>

        </button>

        <mat-menu #alertsMenu="matMenu">

          <button mat-menu-item [routerLink]="['/layout/alerts']">
            Listado
          </button>

          <button mat-menu-item [routerLink]="['/layout/alerts/reportes']">
            Reportes
          </button>

        </mat-menu>

      </li>

      }

    </ul>

  </nav>

</div>
