<div class="bg-gray-900 min-h-dvh h-full w-50 px-4 py-6 flex items-center flex-col gap-6">

  <h2 class="text-2xl font-bold text-white text-center tracking-wide">Eva</h2>

    <div class="">
      <h2 class="text-xl text-white rounded-4xl border bg-yellow-600 p-2"> {{ role() }} </h2>
    </div>
  <nav class="w-full ">
    <ul class="flex flex-col gap-4">
      @if (isPatient() || isAdmin()  ){

      <li>
        <a [routerLink]="['/layout/pets']"
           routerLinkActive="bg-green-700/60 text-white"
           class="flex items-center gap-2 px-4 py-2 rounded-lg text-gray-300 hover:bg-gray-700 hover:text-white transition-colors cursor-pointer">
           Pets
        </a>
      </li>
      }
      @if (isAdmin()) {

    <li>
      <button
        mat-button
        [matMenuTriggerFor]="rolesMenu"
        class="w-full flex items-center justify-between px-4 py-2 rounded-lg text-gray-300 hover:bg-gray-700 hover:text-white">

        <span>Roles</span>

        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <mat-menu #rolesMenu="matMenu">
        <button mat-menu-item [routerLink]="['/layout/rol']">
          <span>Listado</span>
        </button>

        <button mat-menu-item [routerLink]="['/layout/rol/reportes']">
          <span>Reportes</span>
        </button>
      </mat-menu>
    </li>
      }

      @if (isAdmin()) {
      <li>
        <a [routerLink]="['/layout/users']"
           routerLinkActive="bg-green-700/60 text-white"
           class="flex items-center gap-2 px-4 py-2 rounded-lg text-gray-300 hover:bg-gray-700 hover:text-white transition-colors cursor-pointer">
           Usuarios
        </a>
      </li>
      }

       @if (isAdmin()) {
      <li>
        <a [routerLink]="['/layout/hospitals']"
           routerLinkActive="bg-green-700/60 text-white"
           class="flex items-center gap-2 px-4 py-2 rounded-lg text-gray-300 hover:bg-gray-700 hover:text-white transition-colors cursor-pointer">
           Hospitales
        </a>
      </li>
      }

       @if (isAdmin() || isDoctor() ) {
      <li>
        <a [routerLink]="['/layout/medical-history']"
           routerLinkActive="bg-green-700/60 text-white"
           class="flex items-center gap-2 px-4 py-2 rounded-lg text-gray-300 hover:bg-gray-700 hover:text-white transition-colors cursor-pointer">
           Historiales médicos
        </a>
      </li>
      }



    </ul>
  </nav>


</div>
