<nav>
  <ul class="flex flex-col lg:flex-row items-center gap-8">
    <li>
      <a
        href="#inicio"
        class="text-[#0A2F7D] font-semibold hover:text-blue-500 transition">
        Inicio
      </a>
    </li>
    <li>
      <a
        href="#nosotros"
        class="text-gray-700 hover:text-[#0A2F7D] transition">
        Sobre nosotros
      </a>
    </li>
    <li>
      <a
        href="#precios"
        class="text-gray-700 hover:text-[#0A2F7D] transition">
        Precios
      </a>
    </li>
  </ul>
</nav>
