<header class="sticky top-0 z-50 bg-white shadow-sm">
  <div class="max-w-7xl mx-auto h-20 px-6 flex items-center justify-between">

    <a href="/" class="flex items-center gap-3">
      <img src="assets/img/logo-eva.jpeg" alt="Logo" class="w-10 h-10">

      <span class="text-3xl font-bold text-[#0A2F7D]">
        Eva
      </span>
    </a>

    <div class="hidden lg:flex">
      <app-navbar></app-navbar>
    </div>
    <div class="flex gap-10">
      <div class="hidden lg:block">
        <button
        [routerLink]="['/login']"
          class=" hover:text-[#1488be] text-[#0A2F7D] font-semibold px-4 py-3 transition duration-300">
          Iniciar sesión
        </button>
      </div>

      <div class="hidden lg:block">
        <button
        [routerLink]="['/register']"
          class="bg-[#0A2F7D] hover:bg-[#08265f] text-white font-semibold px-8 py-3 rounded-full transition duration-300">
          Registrar
        </button>
      </div>
    </div>

    <button
      class="lg:hidden text-[#0A2F7D]"
      (click)="openMenu()">

      <svg xmlns="http://www.w3.org/2000/svg"
        class="w-9 h-9"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">

        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"/>
      </svg>

    </button>

  </div>

  @if(menuOpen()){

  <div class="fixed inset-0 bg-white z-50 lg:hidden">

    <div class="flex justify-end p-6">

      <button
        (click)="closeMenu()"
        class="text-4xl font-light">
        ×
      </button>

    </div>

    <div class="flex flex-col items-center justify-center gap-10 h-[80%]">

      <app-navbar></app-navbar>

      <button
        class="bg-[#0A2F7D] text-white px-8 py-3 rounded-full">
        Reservar cita
      </button>

    </div>

  </div>

  }

</header>
